<table class="tabla-deportes">
  <thead>
    <tr>
      <th>Deporte</th>
      <th>Descripción</th>
      <th>Requisitos</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    {{#each deportes}}
    <tr>
      <td>{{nombre}}</td>
      <td>{{descripcion}}</td>
      <td>{{requisitos}}</td>
      <td>{{ranking}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
